<ion-view view-title="Consulting Agents">
  <ion-content class="padding">
    <div class="card">
        <div class="item item-avatar">
            <img src="img\beh.jpg" />
            <h2 class="energized">Samuel Beh</h2>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img\beh.jpg" />

            <div class="list">
                <div class="item energized"><i class="icon ion-checkmark-circled"></i><span> </span>Property Consulting</div>
                <div class="item energized"><i class="icon ion-checkmark-circled"></i><span> </span>Legal Advices</div>
                <div class="item energized"><i class="icon ion-checkmark-circled"></i><span> </span>Property Trading 3</div>
            </div>
        <div class="item item-divider">
            Phone No: 011-39570709
        </div>
        <div class="item item-divider">
            Email: clement.ng@avanade.com
        </div>
    </div>
  </ion-content>
</ion-view>
