<ion-view view-title="Dashboard">
  <ion-content class="card-background-page">
      <!--WALLPAPER-->
      <ion-slide-box>
          <ion-slide>
              <img src="img/Dashboard.jpg" style="width:450px;height:300px;margin:auto;display:block"/>
          </ion-slide>
          <ion-slide>
              <img src="img/wallpaper2.jpg" style="width:300px;height:300px;margin:auto;display:block" />
          </ion-slide>
          <ion-slide>
              <img src="img/wallpaper3.jpg" style="width:300px;height:300px;margin:auto;display:block" />
          </ion-slide>
      </ion-slide-box>
      <div class="text-center">
          <button class="button button-assertive" style="width:100px" ng-click="Feature1()"><i class="ion-ios-home"></i></button>
          <button class="button button-royal" style="width:100px" ng-click="Feature2()"><i class="ion-android-map"></i></button>
          <button class="button button-balanced" style="width:100px" ng-click="Feature3()"><i class="ion-android-done-all"></i></button>
      </div>

      <!--IMAGE SLIDER EXAMPLE-->
      <!--<ion-slide-box>
          <ion-slide ng-repeat="image in images">
              <img ng-src="{{image.MediaUrl}}" style="width:300px;height:300px;margin:auto;display:block">
          </ion-slide>
      </ion-slide-box>-->

    <!--LIST VIEW-->
    <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
            <img ng-src="{{chat.face}}">
            <h2>{{chat.name}}</h2>
            <p>{{chat.lastText}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="remove(chat)">
                Delete
            </ion-option-button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


