<ion-view view-title="About">
  <ion-content>
    <!--<div class="item item-avatar">
        <h2>Gold Mine Property</h2>
    </div>-->
    <ion-list>
        <div class="text-center"><img src="img/goldmine.png" /></div>
        <div class="text-center">
            <p>Goldmine Properties had been a pioneer in the real estate industry in Kuala Lumpur. Focusing mainly into commercial real estate and development lands located within the golden triangle and Klang Valley.
                However in recent year, Goldmine Properties had been actively involved marketing role for new development projects building a reputable reputation as being professional,
                responsible and dedication as a real estate marketer to ensure our client's real estate investment is profitable and yet sustainable.</p>
            <div class="item item-divider text-left">Address:</div>
            <div class="item item text-left">
                <p>Wisma Mutiara, (Block B) Level 3,</p>
                <p>No. 165-3-11, Jalan Sungai Besi,</p>
                <p>50710 Kuala Lumpur.</p>
            </div>
            <div class="item item-divider">Telephone Number:</div>
            <div class="item item">+603 9221 6628 / 9221 3628</div>
            <div class="item item-divider">Email:</div>
            <div class="item item">goldmine@goldmine.com.my</div>
        </div>
    <!--<ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
    </ion-list>
  </ion-content>
</ion-view>
